// Updated Mixins File
@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $Tertiarycolor; // Update to match your button color
  width: 100%;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin-top: 16px;

  &:hover {
    opacity: 0.9;
  }
}

@mixin input {
  background-color: $primary1color;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 3rem;
  border: 1px solid $Tertiarycolor;
  border-radius: 8px;
  background: $secondarycolor;
  margin-bottom: 16px;
  border: 1px solid $Tertiarycolor;
 color:white;


  &:focus {
    outline: none;
  

  }
}

@mixin form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 16px;
  width: 90%;
  max-width: 400px;
}

@mixin h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 24px;

}

@mixin label {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;

}

@mixin label1 {
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
}