@mixin button{
    align-items: center;
    background:$bgcolor;
    width: 100%;
    color: white;
    border: none;
    border-radius: 16px;
    padding: 12px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin-top: 16px;

    &:hover{
      opacity: 0.9;

}
}
 @mixin input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 16px;
  
    &:focus {
      outline: none;
      border-bottom: 2px solid #6a11cb;
    }
}

@mixin form{
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: white;
      border: 1 px solid #ddd;
      border-radius: 10px;
      padding:32px ;
      width: 90%;
      max-width: 400px;
}

@mixin h1{
    font-size: 32px;
    margin-bottom: 48px;
    color: #333;
}
@mixin label1{
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}