$bgcolor: linear-gradient(to right,  #2575fc , #6a11cb);
$primarycolor: #2081e2;
$textcolor: #FFFFFF;
/* typewriter.module.scss */
$typewriter-border-color: rgba(211, 242, 252, 0.75);
$blink-caret-color: rgba(255, 255, 255, 0.75);
$color-initial: rgba(247, 250, 250, 0.75);
$color-midpoint: white;
$color-end: rgba(238, 250, 252, 0.76);
$primary1color: #2B2B2B;
$secondarycolor: #3B3B3B;
$Tertiarycolor: #A259FF;
$Textcolor: #858584;


