@import "/app/Styles/base/variables";
@import "/app/Styles/base/mixins";
@import "../component/variables.scss";

.logincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $primary1color;

  .loginform {
    @include form;

    .h1 {
      @include h1;
    }

    .label {
      @include label1;
    }

    .input {
      @include input;
    }

    .forget {
      text-align: end;
      border: none;
      background-color: transparent;
      font-size: 0.9rem;
      color: #6a11cb;
      cursor: pointer;
      margin: 1rem 0;
      &:hover {
        text-decoration: underline;
      }
    }

    .button {
      @include button;
    }

    .button2 {
      display: flex;
      flex-direction: row;
      gap: 8px;
      padding: 16px;
    }

    .button3 {
      background: transparent;
      border: none;
      &:hover {
        color: #6a11cb;
      }
    }
  }
}
