.footer {
  background-color: #0057b7;
  color: white;
  padding: 40px 0px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1350px;
    margin: 0 auto;
    text-align: start;
    flex-wrap: wrap;
    gap: 500px; // Adds spacing between sections

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 30px; // Adjust spacing for mobile
    }
  }

  .section {
    flex: 1;
    min-width: 250px;

    h3 {
      margin-bottom: 10px;
      font-size: 18px;
      text-align: left;
    }

    p {
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 1.5;
    }

    .signup {
      display: flex;
      gap: 10px;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }

      input {
        flex: 1;
        padding: 12px;
        border: none;
        border-radius: 5px;
        width: 100%;
        max-width: 300px;
      }

      button {
        padding: 12px 15px;
        background-color: #ffcc00;
        color: black;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #e6b800;
        }
      }
    }

    &.community {
      text-align: right;

      @media (max-width: 768px) {
        text-align: center;
      }
    }

    .icons {
      margin-top: 20px;
      display: flex;
      gap: 15px;
      justify-content: flex-start; // Align icons to the right
   

      @media (max-width: 768px) {
        justify-content: center;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 30px 15px;
  }
}
