@import "/app/Styles/base/variables";
@import "/app/Styles/base/mixins";
.footer {
  background-color: #3B3B3B;
  color: white;
  padding: 40px 20px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1350px;
    margin: 0 auto;
    text-align: start;
    flex-wrap: wrap;
    gap: 50px; // Adjust spacing for better responsiveness

    @media (max-width: 768px) {
      flex-direction: column; // Column layout only for mobile screens
      align-items: center;
      text-align: center;
      gap: 30px;
    }
  }

  .section {
    flex: 1;
    min-width: 250px;

    h3 {
      margin-bottom: 10px;
      font-size: 18px;
      text-align: left;

      @media (max-width: 769px) {
          text-align: center;
      }
    }


    p {
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 1.5;
    }

    .signup {
      display: flex;
      gap: 10px;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }

     
    .search {

      position: relative;
      max-width: 600px;
      display: flex;
      justify-content: flex-end;

      .icon {
        position: absolute;
        left: 1rem;
        top: 35%;
        transform: translateY(-50%);
        color: #8a939b;

      }



      .input {
        @include input;

      }
    }

      button {
        padding: 8px 12px;
        background-color: $Tertiarycolor;
        color: black;
        font-weight: bold;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #7e2aeb;
        }
      }
    }

    &.community {
      text-align: right;

      @media (max-width: 768px) {
        text-align: center;
      }
    }

    .icons {
      margin-top: 20px;
      display: flex;
      gap: 15px;
      justify-content: flex-start; // Align icons to left

      @media (max-width: 768px) {
        justify-content: center;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 30px 15px;
  }

  // Ensure flex-direction remains row for tablets and above
  @media (min-width: 769px) {
    .container {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}
