.container {
    width: 100%; 
    max-width: 1400px; 
    margin: 0 auto; 
    
  }
  
  @media (max-width: 800px) { /* Laptop */
    .container {
      max-width: 800px;
    }
  }
  
  @media (max-width: 600px) { /* Tablet */
    .container {
      max-width: 600px;
    }
  }
  
  @media (max-width: 300px) { /* Small mobile */
    .container {
      max-width: 300px;
    }
  }

  .maincontainer{
      width: 100vw;    // Pure viewport ki width le lega
      max-width: 100%; // Har screen size par full width hoga
       // Centered rakhnay ke liye
      height: auto;    // Content ke mutabiq adjust hogi
      max-height: 100vh; // Kam az kam puri screen ki height cover karega
    }
    

    