.container {
    width: 100%; 
    max-width: 1400px; 
    margin: 0 auto; 
    
  }
  
  @media (max-width: 800px) { /* Laptop */
    .container {
      max-width: 800px;
    }
  }
  
  @media (max-width: 600px) { /* Tablet */
    .container {
      max-width: 600px;
    }
  }
  
  @media (max-width: 300px) { /* Small mobile */
    .container {
      max-width: 300px;
    }
  }