// SCSS Code for the Login Form
@import "/app/Styles/base/variables";
@import "/app/Styles/base/mixins";

.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: $primary1color;

  .resetform {
    @include form;
  }

  .h1 {
    @include h1;
    font-size: 32px;
    margin-bottom: 8px;
    color: #fff;


  }

  .label {
    @include label1
  }


  .button {
    @include button
  }

  .accountText {
    margin-top: 24px;
    font-size: 14px;
    color: #ddd;

    .p2 {
      display: inline;
      margin-right: 8px;
    }

    .loginLink {
      color: $Tertiarycolor;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .search {

    position: relative;
    max-width: 600px;
    display: flex;
    justify-content: flex-end;

    .icon {
      position: absolute;
      left: 1rem;
      top: 35%;
      transform: translateY(-50%);
      color: #8a939b;

    }



    .input {
      @include input;

    }
  }

  @media (max-width: 700px) {
    justify-content: center;
    padding: 10px;

    .signupform {
      width: 100%;
      max-width: 400px;
    }
  }

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: center;

    .signupform {
      margin-top: 20px;
    }
  }
}