@import "/app/Styles/base/variables";

.typewriter {
  display: inline-block;
  overflow: hidden; // Ensures the text reveals itself
  white-space: nowrap; // Prevents text from wrapping
  border-right: 0.15em solid $typewriter-border-color; // Cursor effect
  font-size: 2rem; // Default size
  animation: 
    typing 4s steps(40, end) infinite, 
    blink-caret 0.75s step-end infinite, 
    colorChange 4s ease-in-out infinite;

  @media (max-width: 768px) {
    font-size: 1.5rem; // Reduce font size on tablets
    animation: 
      typing 5s steps(30, end) infinite, 
      blink-caret 1s step-end infinite, 
      colorChange 5s ease-in-out infinite;
  }

  @media (max-width: 480px) {
    font-size: 1.2rem; // Further reduce font size for mobile
    width: 100%; // Allow full width on smaller screens
    animation: 
      typing 6s steps(25, end) infinite, 
      blink-caret 1.2s step-end infinite, 
      colorChange 6s ease-in-out infinite;
  }
}

// Typing effect animation
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%; // Fully expands on all screen sizes
  }
}

// Blinking cursor animation
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: $blink-caret-color;
  }
}

// Dynamic text color change
@keyframes colorChange {
  0% {
    color: $color-initial; // Initial color
  }
  50% {
    color: $color-midpoint; // Midpoint color
  }
  70% {
    color: $color-end; // End color
  }
}
