$primarycolor: #2081e2;
$textcolor: #04111d;
/* typewriter.module.scss */
$typewriter-border-color: rgba(211, 242, 252, 0.75);
$blink-caret-color: rgba(255, 255, 255, 0.75);
$color-initial: rgba(247, 250, 250, 0.75);
$color-midpoint: #043d4b;
$color-end: rgba(238, 250, 252, 0.76);
