.styled-wrapper {
    button {
      width: 10em;
      position: relative;
      height: 3.5em;
      border: 3px ridge #149CEA;
      outline: none;
      background-color: transparent;
      color: white;
      transition: 1s;
      border-radius: 0.3em;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
  
      &::after, &::before {
        content: "";
        position: absolute;
        left: 3%;
        width: 95%;
        height: 40%;
        background-color: #212121;
        transition: 0.5s;
        transform-origin: center;
      }
  
      &::after {
        top: -10px;
      }
  
      &::before {
        top: 80%;
      }
  
      &:hover {
        &::before, &::after {
          transform: scale(0);
        }
  
        box-shadow: inset 0px 0px 25px #1479EA;
      }
    }
  }
  